body {
    background-color: lightblue
}  

h1 {
    font-size: 30px;
    color:black;
}

h2 {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid black;
    color:black;
}
    
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}
        
header, footer, footer a {
    text-align: center;
    background-color:#ffffff;
    color: black;
}
        
img {
    width: 250px;
    height: auto;
}

footer {
    font-size: 11px;
}

@media only screen and (min-width: 600px){
    h1 {
        font-size: 40px;
        color: rgb(52, 122, 79);
    }
    h2 {
        color: rgb(80, 28, 110);
    }
    header, footer, footer a {
        background-color: rgb(2, 39, 54);
        color: rgb(50, 121, 150);
    }
    img {
        display: none;
    }
}