@media only screen and (min-width: 600px){
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
    li {
        display: inline;
    }
        
    li a {
        display: inline;
        color: #2e3d64;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .menu {
        display: none;
      }
}