body {
    font-size: 16px;
    font-family: 'Lora', serif;
}
.icon {
    height: 80px;
    width: 80px;
    float: left;
}

.motto {
    font-style: italic;
}

h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}
    
h2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}

h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}
    
header {
padding: 30px;
text-align: center;
background-color: #2e3d64;
color: #feda73;
}

footer {
    background-color: #2e3d64;
    color: #feda73;
    text-align: center;
}

.footinfo {
    background-color: #5f86b1;
    color: #feda73;
    text-align: center;
}

.navigation {
    list-style: none;
    text-align: center;
}

.navigation li:first-child {
    display: block;
    }

.navigation li {
    display: none;
    }

.navigation a {
    display: block;
        color: #fff; 
        padding: .75rem;	
        text-align: center;	
        text-decoration: none;
    }

.navigation a:hover {
    color: #000; 
    background-color: #fff; 
    font-weight: 700;	
}

.responsive li {
     display: block; 
    }