body {
    font-size: 16px;
    font-family: 'Lora', serif;
}

p {
    color:#2e3d64;
}

.icon {
    height: 80px;
    width: 80px;
}

.motto {
    font-style: italic;
}

h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}
    
h2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}

h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #feda73;
}

li {
    display: none;
}

li a:hover {
    background-color: #2e3d64;
    color: #feda73;
}

li a.active {
    background-color: #5f86b1;
    color: #2e3d64;
}

.menu {
    display: block;
    margin: auto;
    text-align: center;
}



.herodiv {
    margin: 10px auto;
    position: relative;
    border: 1px solid #2e3d64;
    width: 50px
    height: 80px;
}

.hero {
    margin: 10px auto;
    background-color: #5f86b1;
    border: 1px solid #2e3d64;
    width: 80%;
}

.weathersummary {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(#2e3d64);
    border: 1px solid #5f86b1;
    padding: 1.5rem;
}

.rafting {
    width: 20%;
}

.map {
    width: 80px;
}

.town {
    text-align: center;
}

header {
padding: 30px;
text-align: center;
background-color: #2e3d64;
color: #feda73;
}

footer {
    background-color: #2e3d64;
    color: #feda73;
    text-align: center;
}

.footinfo {
    background-color: #5f86b1;
    color: #feda73;
    text-align: center;
}
