body {
    font-size: 16px;
    font-family: 'Lora', serif;
}

.icon {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.headings {
    display: inline-block;
}

.motto {
    font-style: italic;
}

h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}
    
h2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}

h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:#5f86b1;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: #feda73;
}

ul {
    list-style-type: none;
    width: 100%;
    background-color: #feda73;
}

li {
    display: none;
    font-size: 16px;
}

li a:hover {
    background-color: #2e3d64;
    color: #feda73;
}

li a.active {
    background-color: #5f86b1;
    color: #2e3d64;
}

.menu {
    display: block;
    margin: auto;
    text-align: center;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    border: 1px solid #2e3d64;
    width: 80%;
}

.hero {
    margin: 10px auto;
    border: 1px solid #2e3d64;
    width: 100%;
    height: auto;
}

.weathersummary {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #5f86b1;
    padding: .5rem;
    background-color: #feda73;
}

.forecast {
    display: hidden;
}

.raft-article {
    margin: 10px auto;
    position: relative;
    border: 1px solid #2e3d64;
    width: 80%;
    height: auto;
}

.rafting {
    margin: 10px auto;
    border: 1px solid #2e3d64;
    width: 100%;
    height: auto;
}

.map {
    width: 150px;
}

.town {
    text-align: center;
}

header {
    padding: 30px;
    text-align: center;
    background-color: #2e3d64;
    color: #feda73;
}

footer {
    background-color: #2e3d64;
    color: #feda73;
    text-align: center;
}

.footinfo {
    background-color: #5f86b1;
    color: #feda73;
    text-align: center;
}
